.generalParentBlock{
    padding-bottom: 300px;
}
.buttonSwitchTheme{
    font-size: 50px;
    color: #fddf00;
}
.buttonSwitchThemeDay{
    color: #747272;
}
.nightTheme{
    background: #403b3b;
}
.buttonlamp{
    margin-top: 30px;
    margin-left: 30px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.div{
    margin-top: 40px;
}
.input input, .button, .result{
    margin-left: 40px;
    margin-bottom: 20px;
}

.button button{
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}
.activityWhenClicked{
    cursor: pointer;
}